/* LAYOUT STYLES */
.slider {
  width: 50%;
  float:left;
}

.slidecontainer {
	height:1em;
}

.forelabel {
	width: 20%;
	//color:red;
	float:left;
}

.afterlabel {
	width: 30%;
	//color:blue;
	float:left;
}

.wordyafterlabel {
	font-size: 80%;
	width: 30%;
	//color:blue;
	float:left;
}

.textafterlabel {
	width: 30%;
	//color:blue;
	float:left;
	font-size:100%;
}